.header{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
}


.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

.navigation{
    margin-right: 35rem;
}

.navigation__list{
    align-items: center;
    color: var(--Quase-preto);
    display: flex;
    list-style: none;
   
        
}

.navigation__list--item{
    
    padding: 0 1rem;
   
}

.navigation__list--arrowDown{
    background-image: url(/images/icon-arrow-down.svg);
    background-position: initial;
    background-repeat: no-repeat;
    background-position-y: .4rem;
}



.navigation__list--item a {
    color: var(--Cinza-medio);
    font-size: 16px;
    text-decoration: none;
}



/*menu ativo*/

.navigation__list--dropdown{
   display: none;
   background-color: #ffffff;
   list-style: none;
   padding: 2rem;
   position: absolute;
   
}

.navigation__list--dropdown  li{
    font-size: 14px;
    margin: 1rem 0;
}



.navigation__list--dropdown  li a {
    color: var(--Cinza-medio);
    text-decoration: none;
    font-weight: 300;
}

.navigation__list--features:nth-child(1){
    background-image: url(/images/icon-calendar.svg);
    background-position: initial;
    background-repeat: no-repeat;
    background-position-y: 5rem;
    background-position-x: .5rem;
    
    
}
.navigation__list--features:nth-child(2){
    background-image: url(/images/icon-calendar.svg);
    background-position: initial;
    background-repeat: no-repeat;
   
    
    
}

/*botões do canto superior esquerdo*/

.header__signUp{
    font-size: 16px;
    padding: 0 1rem;
    text-decoration: none;
    color: var(--Cinza-medio);
}

.header__btn{
    background: transparent;
    border: 1px solid var(--Quase-preto);
    border-radius: 10px;
    color: var(--Cinza-medio);
    cursor: pointer;
    font-size: 16px;
    padding: .8rem 1rem;
}

.header__btn:hover{
    background: var(--Quase-preto);
    color: var(--Quase-branco);
    transition: .5s;

}