main{
    padding: 2rem 5rem 4rem 5rem;
}

.row{
    display: flex;
    
}

.col-1{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 80vh;
    padding:  0 5rem;
    width: 50vw;

    
}

.col-1__title{
    color: var(--Quase-preto);
    font-size: 4rem;
    font-weight: 700;
}

.col-1__paragraph{
    color: var(--cinza-medio);
    font-weight: 300;
}
.btn{
    
    color: var(--Quase-branco);
    width: 200px;
    background-color: var(--Quase-preto);
    font-weight: 300;
    padding: .8rem 1rem;
    border-radius: 10px;
}


.col-1__lista{
    align-items: center;
    display: flex;
    list-style: none;
    position: absolute;
   
}
.col-1__lista--item{
    margin: 0 1rem;
}

.col-2{
    background-image: url(/images/image-hero-desktop.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 80vh;
    width: 50vw;
   
    
}

@media screen and (max-width: 600px){

    main{
        padding: 0;
    }

    /*lembrar de retirar o display none do header*/
    .header{
        display: none;
    }

    .row{
        flex-direction: column-reverse;
       
    }

    .col-1{
        align-items: center;
        justify-content: space-between;
        width: 100vw;
        height: 50vh;
        padding: 0;
    }

    .col-1__title{
        font-size: 2.2rem;
        padding: 0 1rem;
       
    }

    br{
        display: none;
    }

    .col-1__paragraph{
        font-size: 1.5rem;
        text-align: center;
        padding: 0 .8rem;

    }

    .col-1__container{
        width: 100vw;
       
    }

    .col-1__lista{
        justify-content: center;
        position: relative;

    }
  
    .col-1__lista--item img {
        width: 70px;
       
    }
    .col-2{
        background-image: url(/images/image-hero-mobile.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 100vw;
        height: 50vh;
    }
    
    
}
